<Project>
  <PropertyGroup>
    <Configuration>Release</Configuration>
    <Platform>Any CPU</Platform>
    <PublishProtocol>FileSystem</PublishProtocol>
    <RuntimeIdentifier>win-x64</RuntimeIdentifier>
    <SelfContained>true</SelfContained>
    <PublishSingleFile>false</PublishSingleFile>
    <PublishReadyToRun>false</PublishReadyToRun>
    <DebugType>none</DebugType>
    <DebugSymbols>false</DebugSymbols>
    <DeleteExistingFiles>true</DeleteExistingFiles>
    <PromptForgeDemoMode>true</PromptForgeDemoMode>
    <PublishDir>$(MSBuildProjectDirectory)\..\artifacts\demo\publish\</PublishDir>
  </PropertyGroup>
</Project>
